
{% extends  'background.html' %}

{% block content %}


<h1 style="border-style: inset;background-color: saddlebrown;text-align: center;color: white;">Wellcome </h1>


<form action="summary">

    <h2>Enter Your Text Here :</h2>
    <textarea name="write" rows="10" cols="10" wrap="hard" style="height: 500px; width: 1500px"></textarea>

    <br><br>
    <input type="submit" value="Submit" style="padding: 10px 15px;color: saddlebrown; background-color: bisque;">
</form>

{% endblock %}